html {

font-size: 10px; 
font-family: "Open Sans", sans-serif;
}

#p01 {
  width: 85px;
  padding-left: 100px;
}
#p02 {
  width: 150px;

}
table {
  border-spacing: 15px;
}
th {
  background-color: #e7e7e7;
  box-shadow: 3px 3px 4px #9c9c9c;
  padding: 0 80px;
}

td {
  font-size: 10px;
  padding: 0 20px;

}

body {
  width: 900px;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
}
